@keyframes bg {
  from {transform: scale(1,1)}
  to {transform:scale(2,2)}
}

.root { 
  animation-direction: alternate;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-name: bg;
  background-size: cover;
  background-position: center;
  height: 100%;
  opacity: 0.3;
  position: absolute;
  width: 100%;
}
