@keyframes tweet {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

.root {
  opacity: 0%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1.25, 1.25);
}

.rootVisible {
  animation-name: tweet;
  animation-duration: 5s;
  opacity: 100%;
}
